{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form) }}
<div id="edu-profile" class="fos_user_user_show full-height">
    <div class="row profil-banner">
        <div class="col-md-12">
            <img src="http://1010uk.a.cdnify.io/cdn/farfuture/b4EDw936Zxf-JgbAyWkDWT052-ildkqGN03gc7CD4fQ/mtime:1433946444/sites/default/files/eiffel-tower-cameron-wears-BY-NC-banner.jpg"/>
        </div>
    </div>
    <div id="edu-profile-top" class="row">
        <div class="col-md-3 col-xs-3">
            <div class="profil-contact container">
                <div class="row">
                    <img src="{{ image }}" alt="Photo">
                </div>
                <div class="row">
                    {{ form_widget(form.file) }}
                </div>
                <div class="row">
                    <h3 class="profil-name" style="margin: 0">{{ form_widget(form.username) }}</h3>
                </div>
                <div class="row">
                    {{ form_widget(form.save) }}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-1 col-xs-6 col-xs-offset-3 profil-listing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12 profil-language">
                        <h4>I can speak</h4>
                        <ul>
                            <li>
                                <div class="country-snippet">
                                    {{ form_widget(form.spokenLanguages) }}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-xs-12 profil-language">
                        <h4>I wish to speak</h4>
                        {{ form_widget(form.learnLanguage) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="edu-profile-row" class="container">
    <div class="row">
        <div class="col-md-3 col-xs-3">
            <div class="profil-details">
                <ul>
                    <li>
                        <h4>Age</h4>
                        <i>{{ form_widget(form.birthday) }}</i>
                    </li>
                    <li>
                        <h4>City</h4>
                        <i>{{ form_widget(form.city) }}</i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="profil-details">
                <ul>
                    <li>
                        <h4>Description</h4>
                        <p>
                            <i>
                                {{ form_widget(form.description) }}
                            </i>
                        </p>
                    </li>
                    <li>
                        <h4>Interests</h4>
                        <i>{{ form_widget(form.interests) }}</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
<script>
    if(window.location.hostname !== 'localhost'){
        mixpanel.track("Profile Edit "+{{user.username}});
    }else{
        console.log("fake mixpanel localhost");
    }
</script>
