{% extends 'base.html.twig' %}

{% block body %}
<div class="row accueil">

    {#____________________________Carousel___________________________________#}
      <div id="myCarousel" class="row carousel slide" data-ride="carousel">
        <div class="monopacite"></div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
        {% for country in countries %}
            {% if loop.first %}
            <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
            {% else %}
            <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"></li>
            {% endif %}
        {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
        {% for country in countries %}
          {% if loop.first %}
          <div class="item active">
          {% else %}
          <div class="item">
          {% endif %}
            <img class="img-responsive center-block" src="{% path country.picture, 'big' %}" alt="{{ country.name }}">
          </div>
        {% endfor %}
        </div>

          {#-------------------UTILISTAEUR CONNECTE--------------------------------#}

          {% if app.security.token is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}

          {#-------------------UTILISTAEUR CONNECTE--------------------------------#}

        <div>
          <a class="more-scroll" href="#choixDestination">"Découvrir de nouveau horizons?!"
            <br><span style="font-size:3em;" class="glyphicon glyphicon-chevron-down text-align" aria-hidden="true"></span>
          </a>
        </div>

        {#____________________CAPTION DU CAROUSSEL____________________#}
        <div class="carousel-caption">
          <h4>Bonjour {{  app.user.username }}</h4>
          <h4>Où voulez vous parler aujourd'hui?</h4>
          <p class="slogan">"pratiquez comme si vous y étiez"</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Partir en...">
              <span class="input-group-btn">
                <button id="porte-button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-down text-align" aria-hidden="true"></span></button>
                  <a href="{{ path('edu_speak_search')}}">
                  <button class="btn btn-default" type="button">Go!</button>
                </a>
              </span>
          </div>
          <div id="porte" class="porte">
            <div class="content">
              <div class="row filtres">
                  <form >
                      <div class="col-md-2 col-xs-2">
                          <select class="form-control" name="Langues">
                              <option>Langues</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                          </select>
                      </div>
                      <div class="col-md-2 col-xs-2">
                          <select class="form-control" placeholder="Age min">
                              <option>Age min</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                          </select>
                      </div> <div class="col-md-2 col-xs-2">
                          <select class="form-control" placeholder="Age min">
                              <option>Age max</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                          </select>
                      </div>
                      <div class="col-md-3 col-xs-3">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox"> Correspondants connectés
                              </label>
                          </div>
                      </div>
                      <div class="col-md-2 col-xs-2">
                          <button type="submit" class="btn btn-edu">Appliquer</button>
                      </div>
                      <div class="collapse" id="collapseExample">
                          extension filtre
                      </div>
                  </form>
              </div>

            </div>
          </div>
        </div>
      </div>

    {#____________________Affichage des langues avec pays____________________#}
      {% if language %}
      <div id="choixDestination" class="row">
          <div class="row col-md-offset-2 col-md-8 text-center">
              <h2>{{ language.name }}</h2>
              {% for country in countriesSuggested %}
                  <div class="row col-md-6 center-block">
                      <a class="thumbnail text-center">
                          <img class="img-responsive center-block" src="{% path country.picture, 'big' %}" alt="Paris">

                          <div class="caption">
                              <h3>{{ country.name }}</h3>
                          </div>
                      </a>
                  </div>
              {% endfor %}
          </div>
      </div>
      {% else %}
      Pas de language choisi
      {% endif %}

      {#____________________TEST WIHTOUT THE FUNCTIONS____________________#}
          {#<div class="row col-md-offset-2 col-md-8 text-center">
              <h2>Anglais</h2>
              {% set count = 3 %}
              {% set isEven = count %}
              {% for i in 1..count %}
                {% if isEven is odd %}
                    {% if count == 1 %}
                      <div class="row col-md-12 center-block">
                        <a class="thumbnail text-center">
                          <img class="img-responsive center-block" src="{{ asset('image/paris.jpg') }}" alt="Paris">
                        <div class="caption">
                          <h3>Angleterre</h3>
                        </div>
                        </a>
                      </div>

                    {% else%}
                      <div class="row col-md-6 center-block">
                        <a class="thumbnail text-center">
                          <img class="img-responsive center-block" src="{{ asset('image/paris.jpg') }}" alt="Paris">

                        <div class="caption">
                          <h3>Angleterre</h3>
                        </div>
                      </a>
                      </div>
                      {% set count = count-1 %}
                    {% endif %}
                  {% else%}
                    <div class="row col-md-6 center-block">
                      <a class="thumbnail text-center">
                        <img class="img-responsive center-block" src="{{ asset('image/paris.jpg') }}" alt="Paris">
                      <div class="caption">
                        <h3>Angleterre</h3>
                      </div>
                      </a>
                    </div>
                    {% set count = count-1 %}
                  {% endif %}
                  {% endfor %}
              </div>
            </div>#}
       {#____________________TEST WIHTOUT THE FUNCTIONS____________________#}


    {#-------------------UTILISTAEUR NON CONNECTE----------------------------#}

    {% else %}

    {#-------------------UTILISTAEUR NON CONNECTE----------------------------#}

    {#____________________________Carousel___________________________________#}
      <div>
          <a class="more-scroll" href="#Presentation">"Découvrir SpeakIt!"
              <br><span style="font-size:3em;" class="glyphicon glyphicon-chevron-down text-align" aria-hidden="true"></span>
          </a>
      </div>
    <div class="carousel-caption">
      <p class="slogan">Pratiquez comme si vous y étiez</p>
          <a class="btn btn-default btn-edu btn-accueil" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
          <a class="btn btn-default btn-edu btn-accueil" href="{{ path('fos_user_registration_register') }}" role="button">Register</a>
    </div>
  </div>

  {#_________________________Presentation SpeakIt!___________________________#}

  <div id="Presentation" class="row welcome-panel">
    <div class="col-md-12 home-row">
        <h2>Une nouvelle façon d'apprendre</h2>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
          <div class="col-md-6">
                <i class="fa fa-keyboard-o fa-5x"></i>
                <h4>Partager</h4>
          </div>
          <div class="col-md-6">
                  <p class="edu-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-6">
                <i class="fa fa-microphone fa-5x"></i>
                <h4>Rencontrer</h4>
            </div>
            <div class="col-md-6">
                    <p class="edu-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-6">
                <i class="fa fa-microphone fa-5x"></i>
                <h4>Rencontrer</h4>
              </div>
          <div class="col-md-6">
                      <p class="edu-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-6">
                <i class="fa fa-microphone fa-5x"></i>
                <h4>Rencontrer</h4>
            </div>
            <div class="col-md-6">
                    <p class="edu-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

    </div>

  </div>
  {% endif %}

</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
