{% extends 'base.html.twig' %}
{% block body %}
    <div class="row accueil">
        <div id="myCarousel" class="row carousel slide" data-ride="carousel">
            <div class="monopacite"></div>
            <ol class="carousel-indicators">
            {% for city in cities %}
                {% if loop.first %}
                <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
                {% else %}
                <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"></li>
                {% endif %}
            {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
            {% for city in cities %}
                {% if loop.first %}
                <div class="item active">
                {% else %}
                <div class="item">
                {% endif %}
                    <img class="img-responsive center-block" src="{% path city.picture, 'big' %}" alt="{{ city.name }}">
                </div>
            {% endfor %}
            </div>
            {% if app.security.token is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {#-------------------UTILISTAEUR CONNECTE--------------------------------#}
            {% if language %}
            <div>
                <a class="more-scroll" href="#choixDestination">"Découvrir de nouveau horizons?!"
                    <br><span style="font-size:3em;" class="glyphicon glyphicon-chevron-down text-align" aria-hidden="true"></span>
                </a>
            </div>
            {% endif %}
            <div class="carousel-caption">
                <p class="slogan">Pratiquez comme si vous y étiez</p>
                <div class="input-group">
                    <input type="text" id="search-input" class="form-control" placeholder="Où voulez vous parler ?"/>
                    <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
                    <script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
                    <script>
                        var client = algoliasearch("K8XZDO6Z0L", "3c7b64217eed0504d70c7aefc36f880b")
                        var index = client.initIndex('City_dev');
                        autocomplete('#search-input', { hint: false }, [
                            {
                                source: autocomplete.sources.hits(index, { hitsPerPage: 5 }),
                                displayKey: 'countryCity',
                                templates: {
                                    suggestion: function(suggestion) {
                                        return suggestion._highlightResult.countryCity.value;
                                    }
                                }
                            }
                        ]).on('autocomplete:selected', function(event, suggestion, dataset) {
                            $("#btnCity").attr("href", "search/"+suggestion.id);
                            $('#btnCity')[0].click();
                            console.log(suggestion, dataset);
                        });
                    </script>
                    <span class="input-group-btn">
                        <a id="btnCity" href="">
                            <button class="btn-default btn btn-edu btn-block" type="button">Partir</button>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        {% if language %}
        <div id="choixDestination" class="row">
            <div class="row col-md-offset-2 col-md-8 text-center">
                {% set count = citiesSuggested|length %}
                <h2>Suggestion de villes</h2>
                {% for city in citiesSuggested %}
                {% if loop.index % count == 0  and count % 2 != 0 %}
                <div class="row col-md-12 center-block">
                    <a class="thumbnail text-center" href="{{path('edu_speak_search',{'id':city.id})}}">
                        <img class="img-responsive center-block" src="{% path city.picture, 'big' %}" alt="{{ city.name }}">
                        <div class="caption">
                            <h3>{{ city.name }}</h3>
                        </div>
                    </a>
                </div>
                {% else%}
                <div class="row col-md-6 center-block">
                    <a class="thumbnail text-center" href="{{path('edu_speak_search',{'id':city.id})}}">
                        <img class="img-responsive center-block" src="{% path city.picture, 'big' %}" alt="{{ city.name }}">
                        <div class="caption">
                            <h3>{{ city.name }}</h3>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
            {% else %}
            {#-------------------UTILISTAEUR NON CONNECTE----------------------------#}
            <div class="carousel-caption">
                <p class="slogan">Pratiquez comme si vous y étiez</p>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <a class="btn btn-default btn-block btn-lg btn-edu btn-facebook" href="/app.php/login/facebook">
                                <i class="fa fa-facebook-official"></i> Login with facebook
                            </a>
                        </div>
                        <div class="col-md-6 col-md-offset-3 fos_login">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn-default btn btn-edu btn-block btn-lg btn-accueil" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                </div>
                                <div class="col-md-6">
                                    <a class="btn-default btn btn-edu btn-block btn-lg btn-accueil" href="{{ path('fos_user_registration_register') }}" role="button">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% endif %}
        <script>
            if(window.location.hostname !== 'localhost'){
                mixpanel.track("Homepage");
            }else{
                console.log("fake mixpanel localhost");
            }
        </script>
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}
