{% extends 'base.html.twig' %}

{% block body %}
<div class="row welcome-panel">
    <div class="col-md-6 col-md-offset-3">
        <h1>Pratiquez comme si vous y étiez</h1>
        {% if app.security.token is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a class="btn btn-default btn-edu" href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a class="btn btn-default btn-edu" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            <a class="btn btn-default btn-edu-invert" href="/register" role="button">Register</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12 home-row">
        <h2>Une nouvelle façon d'apprendre</h2>
    </div>
    <div class="col-md-12 home-row">
        <div class="col-md-6">
            <div class="col-md-6">
                <i class="fa fa-keyboard-o fa-5x"></i>
                <h4>Partager</h4>
            </div>
            <div class="col-md-6">
                <p class="edu-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <i class="fa fa-microphone fa-5x"></i>
                <h4>Rencontrer</h4>
            </div>
            <div class="col-md-6">
                <p class="edu-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
