{% extends 'base.html.twig' %}
{% block body %}
    <div id="edu-friends">
        <div class="row">
        {% if friends is not empty %}
            <div class="col-md-9 list-friends">
                <ul>
                    {% for friend in friends %}
                        <li class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="{{path('edu_speak_profil',{'id':friend.id})}}">
                                    {% if friend.facebookPicture %}
                                        <img class="profile-picture" src="{{ friend.facebookPicture }}" alt="Profil" />
                                    {% elseif friend.getWebPath %}
                                        <img class="profile-picture" src="{{ friend.getWebPath }}" alt="Profil" />
                                    {% else %}
                                        <i class="fa fa-user fa-3x"></i>
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="col-md-8 friends-information">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span>{{ friend.username }}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <i><small>speaking: </small></i>
                                            <span>
                                            {% for language in friend.getSpokenLanguages %}
                                                <img src="{% path language.flag, 'small' %}" alt="{{language.name}}" title="{{language.name}}" />
                                            {% endfor %}
                                            </span>
                                        </div>
                                        <div class="col-md-12">
                                            <i><small>learning: </small></i>
                                            <span>
                                                <small>
                                                    <img src="{% path friend.getLearnLanguage.flag, 'small' %}" alt="{{friend.getLearnLanguage.name}}" title="{{friend.getLearnLanguage.name}}"/>
                                                </small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a class="start-conversation" href="{{path('chat_create',{'id':friend.id})}}"><i class="fa fa-weixin fa-3x"></i></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="col-md-7 col-md-offset-3">
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        {% set count = citiesSuggested|length %}
                        <h2>Your friend list is empty</h2>
                        <h2>meet people  from {{citiesSuggested[0].name}}</h2>
                        {% for city in citiesSuggested %}
                            <a class="thumbnail text-center" href="{{path('edu_speak_search',{'id':city.id})}}">
                                <img class="img-responsive center-block" src="{% path city.picture, 'big' %}" alt="{{ city.name }}">
                                <div class="caption">
                                    <h3>{{ city.name }}</h3>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
