{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
    <div class="container">
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            {% if error %}
                <div class="form-signin-heading">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
            <input type="password" class="form-control" id="password" name="_password" required="required" />
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </label>
            </div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
        <div class="row" style="margin-top: 2em;">
            <div class="col-md-2 col-md-offset-5" style="text-align:center;">
                <h3>Or</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <a class="btn btn-default" href="/app.php/login/facebook" id="facebook-login">
                    <i class="fa fa-facebook-official"></i> Login with Facebook
                </a>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock fos_user_content %}
