{% extends 'base.html.twig' %}

{% block body %}
    {{ ws_client() }}
    <div id="edu-discussions" class="row">
        <div class="col-md-2 col-xs-2 list-discussions">
            <h5>Discussions</h5>
            <ul class="list-group">
                {% for discus in discussions %}
                    {% if discussion is defined and discussion.id == discus.id %}
                        <li class="list-group-item selected" style="min-height: 4em;">
                    {% else %}
                        <li class="list-group-item" style="min-height: 4em;">
                    {% endif %}
                            <a href="{{ path('chat_display',{'id': discus.id}) }}" class="participant-snippet">
                                {% for participant in discus.participants %}
                                    {% if participant.username != app.user.username %}
                                        {% if participant.facebookPicture %}
                                            <img class="profile-picture" src="{{ participant.facebookPicture }}" alt="Profil" />
                                        {% elseif participant.file %}
                                            <img class="profile-picture" src="{{ participant.file }}" alt="Profil" />
                                        {% else %}
                                            <i class="fa fa-user fa-3x" style="margin-right: 3rem;"></i>
                                        {% endif %}
                                        <span>{{participant.username}}</span>
                                    {% endif %}
                                {% endfor %}
                            </a>
                        </li>
                {% endfor %}
            </ul>
        </div>
    {% if discussion is defined %}
        <div class="col-md-10 col-xs-10 selected-discussions">
            <div class="row">
                <div class="col-md-12 col-xs-12 discussion-status">
                    <div>
                        <i class="fa fa-circle-o fa-2x"></i>
                        <a class="participant-snippet">
                            {% for participant in discussion.participants %}
                                {% if participant.username != app.user.username %}
                                 <a href="{{path('edu_speak_profil',{'id':participant.id})}}">
                                    {% if participant.facebookPicture %}
                                        <img class="profile-picture" src="{{ participant.facebookPicture }}" alt="Profil" />
                                    {% elseif participant.file %}
                                        <img class="profile-picture" src="{{ participant.file }}" alt="Profil" />
                                    {% else %}
                                        <i class="fa fa-user fa-3x"></i>
                                    {% endif %}
                                </a>
                                <a href="{{path('edu_speak_profil',{'id':participant.id})}}">
                                    <span>{{participant.username}}</span>
                                </a>
                                {% endif %}
                            {% endfor %}
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="video-out">

                            </div>
                            <div id="display-div">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default panel-chat">
                                <div class="panel-body" style="height: 70vh;">
                                    <ul id="chat_room">

                                    </ul>
                                </div>
                            </div>
                            <div class="input-group col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                                <input type="text" class="form-control" id="chat_input" placeholder="Type a message...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
    <script src="https://stephenlb.github.io/webrtc-sdk/js/webrtc.js"></script>
    <!-- <script src="{{asset('front/js/eduspeak/chat.js')}}"></script> -->
    <script>
    (function(){
        "use strict";
        var PUBNUB_demo = PUBNUB.init({
            publish_key   : 'pub-c-43fee2d2-8fc4-4b00-b424-dd315210e2c2',
            subscribe_key : 'sub-c-aca4aeda-be98-11e5-8408-0619f8945a4f',
            secret_key    : 'sec-c-YzZhYjVmMTgtYjJmZS00ZTVlLTkwMTMtNWVhZTgyYWEzOTY0',
            media         : { audio : true, video : true },
            ssl           : true
        });

        var id_user = {{ app.user.id }};
        var channel = '{{discussion.token}}';
        var connected = false;
        var URL = 'http://localhost:8000/app_dev.php';

        var phone = PHONE({
            number        : channel+'-'+{{app.user.id}},
            publish_key   : 'pub-c-43fee2d2-8fc4-4b00-b424-dd315210e2c2',
            subscribe_key : 'sub-c-aca4aeda-be98-11e5-8408-0619f8945a4f',
            secret_key    : 'sec-c-YzZhYjVmMTgtYjJmZS00ZTVlLTkwMTMtNWVhZTgyYWEzOTY0',
            media         : { audio : true, video : true },
            ssl           : true
        });

        // As soon as the phone is ready we can make calls
        phone.ready(function(){

            // Dial a Number and get the Call Session
            // For simplicity the phone number is the same for both caller/receiver.
            // you should use different phone numbers for each user.
            var session = phone.dial(channel+'-'+{{receiver.id}});

        });

        // When Call Comes In or is to be Connected
        phone.receive(function(session){

            // Display Your Friend's Live Video
            session.connected(function(session){
                $('#video-out').append(session.video);
            });
            $('#display-div').append(phone.video);
        });

        PUBNUB_demo.subscribe({
            channel: channel,
            message: function(m){
                if(m.connected){
                    connected = true;
                    $('.fa-circle-o').removeClass("fa-circle-o").addClass("fa-circle");
                }
                if(m.text){
                    display_message(m);
                }
                // notify_connection();
            }
        });

        var display_message = function(m){
            if(m.user == id_user){
                $("#chat_room").append('<li class="alert alert-edu-invert">'+ m.text +'</li>');
            }else{
                $("#chat_room").append('<li class="alert alert-edu">'+ m.text +'</li>');
            }
        };

        var send_message = function(){
            var message = $("#chat_input").val();
            $("#chat_input").val('');
            PUBNUB_demo.publish({
                channel: channel,
                message: {"text": message, "user": id_user},
                callback : function(m){
                }
            });
            persist_message(message);
        };

        var notify_connection = function(){
            PUBNUB_demo.publish({
                channel: channel,
                message: {"connected": true, "user": id_user},
                callback : function(m){
                }
            });
        };

        var persist_message = function(message){
            $.ajax({
                url: URL+"/api/messages/new?token="+channel+"&message="+message,
                headers: {"Access-Control-Allow-Origin": "*"}
            });
        };

        var load_archives = function(){
            $.ajax({
                url: URL+"/api/messages/"+channel,
                headers: {"Access-Control-Allow-Origin": "*"}
            }).done(function( data ) {
                for (var i = 0; i < data.length; i++) {
                    var message = {
                        'text': data[i].content,
                        'user': data[i].author.id
                    };
                    display_message(message);
                }
            });
        };

        $(document).keypress(function(e) {
            if(e.which == 13) {
                send_message();
            }
        });

        load_archives();
    })();

    </script>
    {% else %}
        <div class="col-md-10 col-xs-10 selected-discussions">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h3 class="discussion-empty">Select a discussion</h3>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{%  endblock %}
