{% extends 'base.html.twig' %}

{% block body %}
    {{ ws_client() }}
    <div id="edu-discussions" class="row">
        <div class="col-md-2 list-discussions">
            <h2>Discussions</h2>
            <ul class="list-group">
                {% for discussion in discussions %}
                    <li class="list-group-item">
                        <a href="{{ path('chat_display',{'id': discussion.id}) }}">
                            <img src="{{ asset('image/kevin_lebre_small.jpg') }}" alt="Profil" />
                            Discussion N°{{ discussion.id }} - Adrien
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10 selected-discussions">
            <div class="row">
                <div class="col-md-12">
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default panel-chat">
                        <div class="panel-body">
                            <ul id="chat_room">

                            </ul>
                        </div>
                    </div>
                    <div class="input-group col-md-10 col-md-offset-1">
                        <input type="text" class="form-control" id="chat_input" placeholder="Type text...">
                        <span class="input-group-btn">
                            <a class="btn btn-default" id="btn_send">Send!</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.pubnub.com/pubnub-dev.js"></script>
<!-- <script src="{{asset('front/js/eduspeak/chat.js')}}"></script> -->
<script>
(function(){
    "use strict";
    var PUBNUB_demo = PUBNUB.init({
        publish_key: 'pub-c-43fee2d2-8fc4-4b00-b424-dd315210e2c2',
        subscribe_key: 'sub-c-aca4aeda-be98-11e5-8408-0619f8945a4f',
        secret_key: 'sec-c-YzZhYjVmMTgtYjJmZS00ZTVlLTkwMTMtNWVhZTgyYWEzOTY0'
    });

    var id_user = Math.floor((Math.random() * 100000) + 1000);
    var channel = '{{discussion.token}}';
    PUBNUB_demo.subscribe({
        channel: channel,
        message: function(m){
            display_message(m);
        }
    });

    var display_message = function(m){
        if(m.user == id_user){
            $("#chat_room").append('<li class="mine alert">'+ m.text +'</li>');
        }else{
            $("#chat_room").append('<li class="his alert alert-info">'+ m.text +'</li>');
        }
    };

    var send_message = function(){
        var message = $("#chat_input").val();
        $("#chat_input").val('');
        PUBNUB_demo.publish({
            channel: channel,
            message: {"text": message, "user": id_user},
            callback : function(m){console.log(m)}
        });
    };
    $("#btn_send").click(send_message());

    $(document).keypress(function(e) {
        if(e.which == 13) {
            send_message();
        }
    });
})();

</script>
{%  endblock %}
