{% extends 'base.html.twig' %}

{% block body %}
    {{ ws_client() }}
    <div id="edu-discussions" class="row">
        <div class="col-md-2 list-discussions">
            <h2>Discussions</h2>
            <ul class="list-group">
                {% for discussion in discussions %}
                    <li class="list-group-item">
                        <a href="{{ path('chat_display',{'id': discussion.id}) }}">
                            <img src="{{ asset('image/kevin_lebre_small.jpg') }}" alt="Profil" />
                            Discussion N°{{ discussion.id }} - Adrien
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10 selected-discussions">
            <div class="row">
                <div class="col-md-12">
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default panel-chat">
                        <div class="panel-body">
                            <ul id="chat_room">

                            </ul>
                        </div>
                    </div>
                    <div class="input-group col-md-10 col-md-offset-1">
                        <input type="text" class="form-control" id="chat_input" placeholder="Type text...">
                        <span class="input-group-btn">
                            <a class="btn btn-default" id="btn_send">Send!</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.pubnub.com/pubnub-dev.js"></script>
<script src="{{asset('front/js/eduspeak/chat.js')}}"></script>
{%  endblock %}
