{% extends 'base.html.twig' %}
{% block body %}
<div id="edu-match" class="content">
    {% if matchedUsers is defined %}
    <div class="row filtres">
        <form >
            <div class="col-md-2 col-xs-2">
                langues parlées
                <select class="form-control" name="spokenLanguages">
                    {% for spokenLanguage in spokenLanguages %}
                        <option value="{{ spokenLanguage.id }}">{{ spokenLanguage.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 col-xs-2">
                langues à apprendre
                <select class="form-control" name="learnLanguages">
                    {% for learnLanguage in learnLanguages %}
                    <option value="{{ learnLanguage.id }}">{{ learnLanguage.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 col-xs-2">
                Age <b>{{ ageMin }}</b>
                <input id="age" type="text" class="span2" value="" data-slider-min="{{ ageMin }}" data-slider-max="{{ ageMax }}" data-slider-step="1" data-slider-value="[{{ ageMin }},{{ ageMax }}]"/>
                <b>{{ ageMax }}</b>
            </div>
            <div class="col-md-3 col-xs-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Correspondants connectés
                    </label>
                </div>
            </div>
            <div class="col-md-2 col-xs-2">
                <button type="submit" class="btn btn-edu">Appliquer les filtres</button>
            </div>
            <div class="collapse" id="collapseExample">
                extension filtre
            </div>
        </form>
    </div>

    <div id="match-background" class="row content">
        <h1 class="title">{{ city.countryCity }}</h1>
        <div class="col-md-9 col-xs-8 list-friends">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <ul class="col-md-8 col-xs-10 col-md-offset-2 col-xs-offset-1">
                        {% for matchedUser in matchedUsers %}
                            <li class="row">
                                <div class="user-picture col-md-1 col-xs-2">
                                    <a href="{{path('edu_speak_profil',{'id':matchedUser.id})}}">
                                    {% if app.user.facebookPicture %}
                                        <img class="profile-picture" src="{{ app.user.facebookPicture }}" alt="Profil" />
                                    {% elseif app.user.file %}
                                        <img class="profile-picture" src="{{ app.user.file }}" alt="Profil" />
                                    {% else %}
                                        <i class="fa fa-user fa-3x"></i>
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="user-infos col-md-10 col-xs-8">
                                    <h4>{{ matchedUser.username }}</h4>
                                    <h5>{{ matchedUser.email }}</h5>
                                    <h5>{{ matchedUser.email }}</h5>
                                </div>
                                <div class="start-conversation col-md-1 col-xs-2">
                                    <a href="{{path('chat_create',{'id':matchedUser.id})}}"><i class="fa fa-weixin fa-3x"></i></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row content">
            <h1 class="title">{{ city.countryCity }}</h1>
            <h3 class="title friends-empty">No one suits your request</h3>
        </div>
        {% endif %}
        <script>
            $( document ).ready(function() {
                $("#match-background").css("background-image", "url({% path city.picture, 'big' %})");
            });
        </script>
    </div>
</div>
{% endblock %}
