{% extends 'base.html.twig' %}
{% block body %}
<div id="edu-match" class="content">
    {% if matchedUsers is defined %}
    <div class="row filter">
        <form>
            <div class="col-md-4 filter-label">
                <label>Langues parlées</label>
                <select class="form-control" name="spokenLanguages">
                    <option value="">All</option>
                    {% for spokenLanguage in spokenLanguages %}
                    {% if city.country.language == spokenLanguage %}
                    <option value="{{ spokenLanguage.id }}" selected="selected">{{ spokenLanguage.name }}</option>
                    {% else %}
                    <option value="{{ spokenLanguage.id }}">{{ spokenLanguage.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 filter-label">
                <label>Langues à apprendre</label>
                <select class="form-control" name="learnLanguages">
                    <option value="">All</option>
                    {% for learnLanguage in learnLanguages %}
                    <option value="{{ learnLanguage.id }}">{{ learnLanguage.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 filter-label">
                <label>Age</label>
                <select class="form-control" name="learnLanguages">
                    <option value="">All</option>
                    {% for age in ageMin..ageMax %}
                        <option value="{{ age }}">{{ age }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div class="row content">
        <div class="col-md-12" id="match-background">
            <img src="{% path city.picture, 'big' %}" alt="{{city.name}}"/>
            <h1 class="title">{{ city.countryCity }}</h1>
        </div>
        <div class="col-md-3">
            {% for result in news %}
            <div class="col-md-12">
                <div class="thumbnail">
                    <img src="{{result.image.url}}" alt="{{result.title}}">
                    <div class="caption">
                        <h3>{{result.title | raw}}</h3>
                        <p>{{result.content | raw}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-9 list-friends">
            <ul>
                {% for matchedUser in matchedUsers %}
                    <li class="col-md-12">
                        <a href="{{path('edu_speak_profil',{'id':matchedUser.id})}}">
                        {% if matchedUser.facebookPicture %}
                            <img class="profile-picture" src="{{ matchedUser.facebookPicture }}" alt="Profil" />
                        {% elseif matchedUser.getWebPath %}
                            <img class="profile-picture" src="{{ matchedUser.getWebPath }}" alt="Profil" />
                        {% else %}
                            <i class="fa fa-user fa-3x"></i>
                        {% endif %}
                        </a>
                        <span>{{ matchedUser.username }}</span>
                        <a class="start-conversation" href="{{path('chat_create',{'id':matchedUser.id})}}"><i class="fa fa-weixin fa-3x"></i></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="row content">
            <h1 class="title">{{ city.countryCity }}</h1>
            <h3 class="title friends-empty">Personne dans cette ville</h3>
        </div>
        {% endif %}
        {# <script>
            $( document ).ready(function() {
                $("#match-background").css("background-image", "url({% path city.picture, 'big' %})");
            });
        </script>#}
    </div>
</div>
{% endblock %}
