{% extends 'base.html.twig' %}
{% block body %}
<div id="edu-match" class="content">
    {% if matchedUsers is defined %}
    <div class="row filter">
        <form>
            <div class="col-md-4 filter-label">
                <label>Langues parlées</label>
                <select class="form-control" name="spokenLanguages">
                    <option value="">All</option>
                    {% for spokenLanguage in spokenLanguages %}
                    {% if city.country.language == spokenLanguage %}
                    <option value="{{ spokenLanguage.id }}" selected="selected">{{ spokenLanguage.name }}</option>
                    {% else %}
                    <option value="{{ spokenLanguage.id }}">{{ spokenLanguage.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 filter-label">
                <label>Langues à apprendre</label>
                <select class="form-control" name="learnLanguages">
                    <option value="">All</option>
                    {% for learnLanguage in learnLanguages %}
                    <option value="{{ learnLanguage.id }}">{{ learnLanguage.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 filter-label">
                <label>Age</label>
                <select class="form-control" name="learnLanguages">
                    <option value="">All</option>
                    {% for age in ageMin..ageMax %}
                        <option value="{{ age }}">{{ age }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div id="match-background" class="row content">
        <h1 class="title">{{ city.countryCity }}</h1>
        <div class="col-md-9 col-xs-8 list-friends">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <ul class="col-md-8 col-xs-10 col-md-offset-2 col-xs-offset-1">
                        {% for matchedUser in matchedUsers %}
                            <li class="row">
                                <div class="user-picture col-md-1 col-xs-2">
                                    <a href="{{path('edu_speak_profil',{'id':matchedUser.id})}}">
                                    {% if app.user.facebookPicture %}
                                        <img class="profile-picture" src="{{ app.user.facebookPicture }}" alt="Profil" />
                                    {% elseif app.user.file %}
                                        <img class="profile-picture" src="{{ app.user.file }}" alt="Profil" />
                                    {% else %}
                                        <i class="fa fa-user fa-3x"></i>
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="user-infos col-md-10 col-xs-8">
                                    <h4>{{ matchedUser.username }}</h4>
                                    <h5>{{ matchedUser.email }}</h5>
                                    <h5>{{ matchedUser.email }}</h5>
                                </div>
                                <div class="start-conversation col-md-1 col-xs-2">
                                    <a href="{{path('chat_create',{'id':matchedUser.id})}}"><i class="fa fa-weixin fa-3x"></i></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row content">
            <h1 class="title">{{ city.countryCity }}</h1>
            <h3 class="title friends-empty">Personne dans cette ville</h3>
        </div>
        {% endif %}
        <script>
            $( document ).ready(function() {
                $("#match-background").css("background-image", "url({% path city.picture, 'big' %})");
            });
        </script>
    </div>
</div>
{% endblock %}
